page{
    background-color: #F3F4F5;
}
.bg{
    width: 100%;
    height: 100%;
}
.head{
    background-color: #CC292E;
    width: 100%;
    height: 150rpx;
    align-items: center;
    display: flex;
    flex-direction: row;
    &-leftView{
        flex: 1;
        display: flex;
        flex-direction: column;
        height: auto;
        margin-left: 40rpx;
        &-topTitle{
            font-size: 34rpx;
            color: white;
        }
        &-botomTitle{
            font-size: 23rpx;
            color: white;
        }
    }
    &-image{
        margin-right: 50rpx;
        width: 60rpx;
        height: auto;
    }
}
// 地址
.address{
    width: 100%;
    height: 100rpx;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    &-leftView{
        flex: 1;
        display: flex;
        flex-direction: column;
        height: auto;
        
        &-title{
            font-size: 25rpx;
            color: black;
        }
    }
    &-rightView{
        margin-right: 20rpx;
        width: 100rpx;
        height: 45rpx;
        line-height: 45rpx;
        border-radius: 25rpx;
        border: solid 2rpx #CC292E;
        font-size: 25rpx;
        color: #CC292E;
        text-align: center;
    }
}
// 邀请好友
.yaoqing{
    margin-top: 20rpx;
    width: 100%;
    padding-top: 20rpx;
    padding-bottom: 20rpx;
    background-color: white;
    &-titles{
        padding: 0 0 0 20rpx;
        font-size: 25rpx;
        color: #878787;
        height: auto;
    }
    .topView{
        width: 100%;
        height: 30rpx;
        display: flex;
        flex-direction: row;
        line-height: 30rpx;
        &-image{
            width: 30rpx;
            margin-left: 20rpx;
            margin-right: 20rpx;
        }
        &-title{
            font-size: 25rpx;
            width: 100%;
            flex: 1;
            color: black;
        }
    }
    .botomView{
        position: relative;
        margin-top: 10rpx;
        width: 100%;
        height: 85rpx;
        display: flex;
        flex-direction: row;

        &-leftView{
            flex: 1;
            width: 100%;
            height: 85rpx;

            display: flex;
            flex-direction: row;
            align-items: center;
            padding-left: 60rpx;
            .icon{
                height: 70rpx;
                width: 70rpx;
                border-radius: 37rpx;
                border: solid 2rpx #CC292E;
                margin-left: 10rpx;
            }
            &-title{
                position: absolute;
                top: 5rpx;
                left: 65rpx;
                width: 50rpx;
                height: 20rpx;
                background-color: #CC292E;
                border-radius: 21rpx;
    
                font-size: 20rpx;
                line-height: 20rpx;
                color: white;
                text-align: center;
    
            }
        }

        &-rightView{
            margin-top: 15rpx;
            margin-right: 20rpx;
            width: 160rpx;
            height: 50rpx;
            line-height: 50rpx;
            border-radius: 25rpx;
            font-size: 25rpx;
            color: white;
            text-align: center;
            background-color: #CC292E;
        }
    }
}
// 商品
.shop{
    margin-top: 20rpx;
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: row;
    
    &-rightView{
        display: flex;
        flex-direction: column;
        margin: 20rpx 20rpx 20rpx 0;
        .zhekou{
            background-color: #DD0000;
            font-size: 24rpx;
            text-align: center;
            color: white;
            padding: 5rpx;
        }
    }
}
// 支付信息
.zhifu{
    margin-top: 20rpx;
    margin-bottom: 20rpx;
    background-color: white;
    display: flex;
    flex-direction: row;
    padding-top: 10rpx;
    padding-bottom: 10rpx;
}

.tempView{
    width: 100%;
    height: 100rpx;
}
// // 底部购买按钮
.buyView{ 
    height:100rpx; 
    clear:both; 
    overflow:hidden; 
    position:fixed; 
    bottom:0; 
    left:0; 
    right: 0;
    background-color: #CC292E;

    display: flex;
    flex-direction: row;
    &-viewText{
        color: white;
        font-size: 30rpx;
        width: 50%;
        height: 100rpx;
        line-height: 100rpx;
        text-align: center;
    }
}
.title{
    font-size: 25rpx;
    color: #373738;
    &-small{
        font-size: 23rpx;
        color: #878787;
    }
    &-red{
        font-size: 26rpx;
        color: red;
    }
}
// 支付成功弹框
.bouncesBg{
    background-color: black;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.bouncesView_hdBG{
    position: fixed;
    top: 25%;
    left: 50rpx;
    right: 50rpx;
    height: auto;
    display: flex;
    flex-direction: column;
    .imageBG{
        width: 100%;
        height: 75rpx;
        position: relative;
        .imageView{
            width: 48rpx;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 20rpx;
        }
        
    }
    .bouncesView{
        background-color: white;
        border-radius: 8rpx;
        overflow: hidden;
        &-title{
            font-size: 30rpx;
        }
        &-view{
            width: 100%;
            height: auto;
            background-color: #E1F8E9;
            text-align: center;
            padding-top: 30rpx;
            padding-bottom: 20rpx;

            &-centerView{
                margin-left: 150rpx;
                margin-right: 150rpx;
                height: 180rpx;

                display: flex;
                flex-direction: row;
                &-view{
                    width: 120rpx;
                    display: flex;
                    flex-direction: column;
                    .imageView{
                        width: 120rpx;
                        height: 120rpx;
                        margin-bottom: 10rpx;

                        background-color: #00AE27;
                        border-radius: 61rpx;
                        
                    }
                }
            }
        }
    }
}
.canceButonView{
    position: fixed;
    top: 28%;
    left: 50rpx;
    right: 50rpx;
    height: auto;
    background-color: white;
    border-radius: 8rpx;
    overflow: hidden;
    &-view{
        width: 100%;
        height: 80rpx;
        text-align: center;
        padding-top: 30rpx;
        padding-bottom: 30rpx;
    }
    // // 底部购买按钮
    &-buyView{ 
        margin-top: 80rpx;
        width: 100%;    
        height:100rpx; 
        clear:both; 
        overflow:hidden; 
        background-color: #CC292E;

        display: flex;
        flex-direction: row;
        &-viewText{
            color: white;
            font-size: 30rpx;
            width: 50%;
            height: 100rpx;
            line-height: 100rpx;
            text-align: center;
        }
    }
}
.share{ 
    background:none;
}
.share::after{ 
    border: none;
}


// 活动结束弹框透明背景
.bouncesBg_hd{
    background-color: black;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.bouncesView_hdBG{
    position: fixed;
    top: 25%;
    left: 50rpx;
    right: 50rpx;
    height: auto;
    display: flex;
    flex-direction: column;
    .imageBG{
        width: 100%;
        height: 75rpx;
        position: relative;
        .imageView{
            width: 48rpx;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 20rpx;
        }
        
    }
    // 活动结束弹框
    .bouncesView_hd{
        background-color: white;
        border-radius: 8rpx;
        overflow: hidden;
        z-index: 999;
        
      
        &-view{
            display: flex;
            text-align: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            .redTitle{
                margin-top: 20rpx;
                font-size: 30rpx;
                color: red;
            }
            .submitTitle{
                margin-top: 30rpx;
                font-size: 24rpx;
                color: #818284;
            }
            .whiteTitle{
                margin-top: 100rpx;
                font-size: 28rpx;
                color: white;
                background-color: #CC292E;
                width: 100%;
                height: 90rpx;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}