.wrap{ 
     width: 100%; 
     margin: 0 auto;
    }
.icon1{
    width: 36rpx;
    height: 36rpx;
    margin: 0rpx 10rpx;
}
.collectionHeader{
    padding: 20rpx 20rpx;
    color:#000;

    .collectionNums{
        font-size: 26rpx;
        color: #999;
        .txt1{
            color: #000;
            font-weight: 600;
        }
    }
    .collectionOption{
        font-size: 30rpx;
        .seacher{
            display: flex;
            align-items: center;
        }
    }
}

.collectionList{
    width: 100%;
    margin-bottom: 108rpx;
    &-item{
        width: 96%;
        margin-left: 2%;
        border-top: 10rpx solid #fcfcfc; 
        display: flex; 
        .btn_sel{
            width: 10%;
            image{
                width: 36rpx;
                height:36rpx;
            }
        }
        .goods{
            display: flex;
            .imagePic{
                position: relative;
                image{
                    position: absolute;
                    width: 160rpx;
                    margin-top: 20rpx;
                    margin-bottom: 20rpx; 
                }
                .noStock{
                    position: absolute;
                    bottom: 0;
                    height: 50rpx;
                    line-height: 50rpx;
                    width: 160rpx;
                    background: rgba(0, 0, 0, 0.5);
                    color: white;
                    font-size: 24rpx;
                    text-align: center;
                }
            }
            &-info{
                color: #000;
                font-size: 26rpx;
                margin-left: 180rpx; 
                .goodsTitle{
                    max-width: 420rpx;
                    margin-top:20rpx;
                     overflow:hidden; 
                     text-overflow:ellipsis;
                      white-space:nowrap;
                }
                .originalPrice{
                    color: #999;
                    min-height: 40rpx;
                    text-decoration:line-through;
                }
            }
        }
        .option{
            width: 10%;
            display: flex;
            flex-direction: column;
            align-items: center;
            image{
                width: 66rpx;
                height: 66rpx;
                margin-top: 50rpx;
            }
        }
    }
}

.seacherFrame{
    width: 100%; 
    top: 0rpx; 
    position: fixed;
    width: 100%;;
    background: white;
    padding-top: 15rpx;
    padding-left: 4%;
    padding-right: 5%;
    display: flex;
    align-items: center;
    .inputArea{
        width: 84%;
        border: 2rpx solid gray;
        border-radius: 6rpx;
        height: 70rpx;
        .seacherEdit{
            width: 80%;
            height: 70rpx;
            font-size: 32rpx;
            padding-left: 16rpx;
        }
        .seacher-icon{
            position: absolute;
            width: 100rpx;
            height: 100rpx;
            top: 0;
            right: 150rpx;
            z-index: 99;
            overflow:hidden; 
            image{
                width: 46rpx;
                height: 46rpx;
            }
        }
    }
    .canncelSeacher{
        font-size: 32rpx;
        color: gray;
        margin-left: 10rpx;
    }
}



.noGoods{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    margin-top: 300rpx;
    .list_null_btn{ 
        width:50%; 
        height:90rpx; 
        font-size:34rpx;
        line-height:90rpx;
        background:#000;
        color:#fff; 
        text-align:center; 
        margin-top: 30rpx;
    }
}

.bottomLine{
    width: 80%;
    margin-left: 10%;
    margin-top: -68rpx; 
    .line{
        width: 30%;
        height: 2rpx;
        background: #999;
    }
    .lineText{
        width: 40%;
        height: 40rpx;
        line-height: 40rpx;
        text-align: center;
        font-size: 28rpx;
        color: #999;
    }
}

/* 删除商品 - 弹出框 */
.tishi{ 
    width:100%; 
    height:100%; 
    position:fixed; 
    left:0; top:0; 
    z-index:9999; 
    .opacity{ 
        width:100%; 
        height:100%; 
        position:absolute; 
        left:0; 
        top:0; 
        background:#000; 
        opacity:0.5;
    }
    .tanchu{ 
        width:572rpx; 
        height:345rpx; 
        position:absolute; 
        left:0; 
        top:0; 
        right:0; 
        bottom:0; 
        margin:auto; 
        background:#fff; 
        border-radius: 10rpx;
        .h2{
            width:100%; 
            height:100rpx; 
            font-size:38rpx;  
            font-weight: 600; 
            line-height:125rpx; 
            color:#000; 
            text-align:center;
        }
        .title{ 
            font-size:30rpx; 
            width:100%; 
            text-align:center; 
            display:block; 
            font-weight: 600; 
            line-height:145rpx; 
            color:#000;
        }
        .bott{ 
            width:100%; 
            height:100rpx; 
            clear:both; 
            overflow:hidden;
            .bot{ 
                float:left; 
                width:50%;
                height:100rpx; 
                border-top:1rpx solid gray;
                .true{ 
                    float:right;
                    background:#000; 
                    color: #fff;  
                    width:100%; 
                    height:100%;  
                    font-size:30rpx; 
                    line-height:100rpx; 
                    text-align:center; 
                    border-radius: 5rpx;
                }
                .false{ 
                    float:left; 
                    color: #000; 
                    width:100%; 
                    height:100%;  
                    font-size:30rpx; 
                    line-height:100rpx; 
                    text-align:center;
                }
            }
        }
    }
}

.footer{
    width: 100%; 
    bottom: 0rpx; 
    position: fixed;

    .settlementContent{
        width: 100%; 
        height: 100rpx; 
        display: flex; 
        flex-direction: row;
        background: white; 
        border-top: 1rpx solid gray;
        align-items: center;
        .left{
            width: 70%;
            font-size: 28rpx;
            display: flex;
            flex-direction: row;
            align-items: center;
            image{
                width: 40rpx;
                height: 40rpx;
                margin-left: 30rpx; 
            }
        }
        .btn{
            width: 30%;
            height: 100rpx;
            line-height: 100rpx;
            text-align: center;
            background: #000;
            color: #fff;
            font-size: 28rpx;
        }
    }
}


.details_size {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 8888;
    .details_opacity {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: #000;
        opacity: 0;
      }
      .details_con {
        width: 100%;
        height: auto;
        clear: both;
        position: absolute;
        left: 0;
        bottom: -400px;
        background: #fff;
        padding-bottom: 20rpx;
        .dd_con {
            box-sizing: border-box;
            padding: 0 20rpx;
            .goods-img {
                margin-top: -60rpx;
                width: 160rpx;
                height: 267rpx;
                border: solid 1rpx #e1e1e1;
                image{ 
                    width:100%; 
                    height: 100%;
                }
              }
              .priceArea{
                margin-top: -100rpx;
                margin-left: 200rpx;
                height: 100rpx;
                .curPrice{
                    font-size: 32rpx;
                    font-weight: 550;
                    color: black;
                }
                .orgPrice{
                    font-size: 28rpx;
                    color: #999;
                    text-decoration:line-through;
                }
              }
            .goods-sku {
                font-size: 28rpx;
            }
            .details_sizeOne_B {
                width: 100%;
                height: auto;
                clear: both;
                overflow: hidden;
                border-bottom: 2rpx solid #e8e8e8;
                .b_title {
                    font-size: 24rpx;
                    line-height: 60rpx;
                    color: #000;
                  }
                .b_ul {
                    width: 100%;
                    height: auto;
                    clear: both;
                    overflow: hidden;
                    .b_li {
                        float: left;
                        border-radius: 10rpx;
                        font-size: 24rpx;
                        line-height: 60rpx;
                        background: none;
                        margin-bottom: 20rpx;
                        color: #000;
                        padding: 0 12rpx;
                        margin-right: 15rpx;
                    }
                    .b_list {
                        background: #000;
                        color: #fff;
                    }
                    .chima_list {
                        background: #f5f5f5;
                        color: #cccccc;
                    }
                      
                }
                .a_list {
                    float: left;
                    height: 162rpx;
                }
                .a_right {
                    width: 60rpx;
                    height: 60rpx;
                    position: absolute;
                    right: 0;
                    top: 6rpx;
                    image{ 
                        width:42rpx; 
                        margin:9rpx 0 0 9rpx;
                    }
                }
              }
              .details_sizeOne_D {
                height: 80rpx;
                width: 100%;
                clear: both;
                overflow: hidden;
                border-bottom: 2rpx solid #e8e8e8;
                display: flex;
                align-items: center;
                justify-content: center;
                text {
                    width: 200rpx;
                    font-size: 28rpx;
                    line-height: 48rpx;
                    text-align: center;
                    color: gray;
                  }
                .c_number {
                    width: 50%;
                    height: 48rpx;
                    .c_add {
                        float: right;
                        width: 48rpx;
                        height: 48rpx;
                        line-height: 48rpx;
                        text-align: center;
                        background: black;
                        color: white;
                        border-radius: 50%;
                    }
                    .c_num {
                        float: right;
                        width: 120rpx;
                        height: 48rpx;
                        text-align: center;
                        border-right: none;
                        font-size: 32rpx;
                        line-height: 48rpx;
                    }
                    .c_jian {
                        float: right;
                        width: 48rpx;
                        height: 48rpx;
                        line-height: 48rpx;
                        text-align: center;
                        background: black;
                        color: white;
                        border-radius: 50%;
                    }
                  }
              }
              .buy_true {
                width: 100%;
                height: auto;
                clear: both;
                overflow: hidden;
                font-size: 28rpx;
                line-height: 80rpx;
                color: #fff;
                text-align: center;
                background: #000;
              }
              
          }
      }
    
  }

