.area{
    position: absolute;
    background-color: white;
    .selectView{
        position: absolute;
        background-color: #7D7D7D;
    }
    .sliderView{
        width: 30rpx;
        height: 30rpx;
        position: absolute;
        top:0rpx;
        left: -15rpx;
        border: 4rpx solid white;
        border-radius: 50%;
        background-color: red;
    }
}