page{
    width: 100%;
    height: 100%;
}
.bg{
    width: 100%;
    height: 100%;
    position: relative;
    .wutai{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 151rpx;
        z-index: 1;
    }
    .renwu{
        position: absolute;
        bottom: 75rpx;
        left: 0;
        // transform: translateX(-50%);

        width: 202rpx;
        height: 226rpx;
        z-index: 2;
        transition: 0.1s;
    }
    .rain{
        position: absolute;
        width: 134rpx;
        height: 139rpx;
        transform: translateY(0);
        z-index: 3;
    }
    .fenshu{
        position: absolute;
        bottom: 305rpx;

        width: 202rpx;
        height: 50rpx;
        z-index: 4;
        font-size: 48rpx;
        font-weight: bold;
        color: rgb(47, 235, 141);
        line-height: 50rpx;
        text-align: center;
        opacity: 0;
        transform: translateY(0);
    }
    .downLoadNum{
        position: absolute;
        top: 10%;
        left: 20rpx;
        width: 280rpx;
        height: 112rpx;
        &-text{
            position: absolute;
            top: 0;
            left: 100rpx;
            width: 150rpx;
            font-size: 32rpx;
            line-height: 112rpx;
            text-align: center;
            color: rgb(47, 235, 141);
        }
    }
    .back{
        position: absolute;
        top: 5%;
        left: 30rpx;
        width: 42rpx;
        height: 59rpx;
    }
}
.bouncedBg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .5;
    z-index: 99;
}
.bounced{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 650rpx;
    height: 600rpx;
    z-index: 100;
    .tap{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 330rpx;
        height: 110rpx;
    }
}
.endGame{
    width: 586rpx;
    height: auto;
    .closed{
        position: absolute;
        bottom: 0;
        left: 49%;
        transform: translateX(-50%);
        width: 60rpx;
        height: 60rpx;
    }
    .agin{
        position: absolute;
        bottom: 200rpx;
        left: 50%;
        transform: translateX(-50%);
        width: 360rpx;
        height: 100rpx;
    }
    .ok{
        position: absolute;
        bottom: 55rpx;
        left: 50%;
        transform: translateX(-50%);
        width: 360rpx;
        height: 100rpx;

    }

    .shengyu{
        position: absolute;
        top: 190rpx;
        left: 0;
        width: 100%;
        height: 50rpx;
        .subView{
            display: flex;
            height: 100%;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            &-label{
                color: #00FDF0;
                font-size: 38rpx;
                line-height: 50rpx;
            }
            &-num{
                color: #00FDF0;
                font-size: 38rpx;
                line-height: 50rpx;
                margin-left: 20rpx;
                margin-right: 20rpx;
            }
            &-img{
                width: 50rpx;
                height: 50rpx;
            }
        }
    }
}
.downTime{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 485rpx;
    &-num{
        width: 131rpx;
        height: 148rpx;
        margin: 0 auto;
        opacity: 1;
    }
}
image{
    vertical-align: middle;
}
@keyframes downAnimate {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes downAnimate1 {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes numAnimate {
    0%{
        transform: translateY(0);opacity: 1;
    }
    100%{
        transform: translateY(-30px);opacity: 0;
    }
}
@keyframes numAnimate1 {
    0%{
        transform: translateY(0);opacity: 1;
    }
    100%{
        transform: translateY(-30px);opacity: 0;
    }
}
@keyframes rainAnimate {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(var(--y));
    }
}
@keyframes rainAnimate1 {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(var(--y));
    }
}