image{
  display: block;
  width: 100%;
}
.contact{
  .tab{
    margin-top: 30rpx;
    border-top: solid 2rpx #000;
    border-bottom: solid 2rpx #000;
    &-item{
      flex: 1;
      height: 80rpx;
      line-height: 80rpx;
      font-size: 32rpx;
      border-left: solid 2rpx #000;
      &.selected{
        background: #000;
        color: #fff;
      }
      &:nth-child(1){
        border-left: none;
      }
    }
  }
  .content{
    margin: 30rpx auto;
    width: 95%;
    &.default{
      margin: 0;
      width: 100%;
    }
    .title{
      padding: 20rpx 0rpx;
      font-size: 32rpx;
      line-height: 35rpx;
    }
    .answer{
      margin-top: 10rpx;
      font-size: 30rpx;
      line-height: 32rpx;
      &-icon{
        padding: 10rpx 10rpx 0 0;
      }
      &-item{
        align-items: flex-start;
      }
      &-text{
        flex: 1;
        display: block;
        padding: 10rpx 0;
      }
    }
  }
  .go-back{
    margin: 40rpx auto;
    width: 300rpx;
    height: 80rpx;
    line-height: 80rpx;
    border: solid 2rpx #000;
    border-radius: 10rpx;
    .icon{
      width: 35rpx;
      margin-right: 15rpx;
    }
    font-size: 36rpx;
  }
  .bottomC{
    height: 68rpx;
  }
}