.main{
  width: 100%;
  height: 100%;
  background-color: #b37850;
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  overflow: hidden;
  image{
    display: block;
    width: 100%;
  }
  .sector{
    position: fixed;
    bottom: 160rpx;
    left: 0;
    width: 100%;
    transform: rotate(-90deg);
    transition: 0.8s;
    &.rotate{
      transform: rotate(0);
    }
    &-item{
      position: absolute;
      left: 50%;
      bottom: 0;
      margin-left: -250rpx;
      width: 500rpx;
      transform-origin: bottom center;
      transition: 2s;
      border-radius: 20rpx;
      overflow: hidden;
      &.rotate{
      }
      &.open{
        position: fixed;
        left: 50%;
        top: 50%;
        width: 300rpx;
        height: 600rpx;
        transform-origin: center;
      }
    }
  }
  .new-year{
    position: fixed;
    left: 50%;
    bottom: 0;
    margin-left: -274rpx;
    width: 548rpx;
    z-index: 9;
  }
}
.gift{
  transition: 0.3s;
  transform: translateY(100%);
  &.show{
    transform: translateY(0);
  }
  &-item{
    position: absolute;
    width: 592rpx;

    &.rotate-card{
      animation: rotate 2s;
    }
    &.gift-card{
      background-color: #fff;
      padding: 40rpx;
      box-sizing: border-box;
      .brand-gift{
        position: relative;
        padding: 0 40rpx;
        .brand-tip{
          position: absolute;
          left: 0;
          bottom: 36rpx;
          width: 100%;
          font-size: 32rpx;
          color: #AE865D;
          font-weight: 400;
        }
      }
      .title{
        font-size: 40rpx;
      }
      .sub-title{
        font-size: 34rpx;
      }
      .receive-btn{
        font-size: 32rpx;
        height: 80rpx;
        line-height: 80rpx;
        background: #981B26;
        letter-spacing: 6rpx;
        font-weight: 400;
      }
      .tip{
        position: relative;
        font-size: 32rpx;
        .btn-share{
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
        }
      }
    }
  }
}
@keyframes rotate {
  0%{
    transform: rotateY(720deg) scale(0.5);
  }
  100%{
    transform: rotateY(0deg) scale(1);
  }
}
