page{
    background: #76c0e7;
}
.tb_box{
    width: 100%;
    padding-bottom: 40rpx;
    box-sizing: border-box;

    .tb_backbg{
        width: 100%;
        height: 1388rpx;
    }
    
    /*首页跑马灯效果*/
    @keyframes around {
        from {
        margin-left: 100%;
        }
        to {
        /* var接受传入的变量 */
        margin-left: var(--marqueeWidth--);
        }
    }
    
    .marquee_container{
        height: 50rpx;
        line-height: 44rpx;
        overflow: hidden;
        position: absolute;
        left: 0%;
        top:0%;
        opacity: .7;
        width: 100%;
    }
    .marquee_container:hover{
        /* 不起作用 */
        animation-play-state: paused;
    }
    .marquee_text{
        color:#fff;
        font-size: 28rpx;
        display: inline-block;
        white-space: nowrap;
        animation-name: around;
        animation-duration: 30s;  /*过渡时间*/
        animation-iteration-count: infinite;
        animation-timing-function:linear;
    }
    
    /* logo */
    .tb_logo{
        width: 60%;
        height: 178rpx;
        top: 28%;
        left: 0;
    }

    .brandTitle{
        position: absolute;
        width: 100%;
        overflow: hidden;
        left: 0%;
        top:200rpx;
        display: flex;
        justify-content: center;
        image{
            width: 60%;
          }
    }

    /* 大转盘 */
   .turntableBox{
        position: absolute;
        top: 460rpx;
        left: 0;
        width: 100%;
        .plate-wrap-box {
            position:relative;
            width:680rpx;
            height:680rpx;
            border-radius:50%;
            left:50%;
            transform:translate(-50%);
            .plate-border {
                position:relative;
                z-index:1;
                width:100%;
                height:100%;
                border-radius:50%;
                .plate-wrap {
                    position:absolute;
                    left:50%;
                    top:50%;
                    transform:translate(-50%, -50%);
                    z-index:9;
                    width:100%;
                    height:100%;
                    border-radius:50%;
                    border:1rpx solid #e88605;
                    overflow:hidden;
                    margin:auto;
                    .plate-box {
                        position: absolute;
                        z-index: 1;
                        left: 50%;
                        width: 0;
                        height: 0;
                        top:0;
                        transform-origin: 50% 340rpx;
                        border-top: 340rpx solid #58c0ea;
                        border-left: 338rpx solid transparent;
                        border-right: 338rpx solid transparent;
                        .text-box {
                            position:absolute;
                            text-align:center;
                            display:inline-block;
                            width:216rpx;
                            word-break:break-all;
                            top:-160rpx;
                            transform:translate(-50%, 0);
                            font-size:26rpx;
                            color: #fff;
                          }
                        .picStyle{
                            width:120rpx;
                            position:absolute;
                            display:inline-block;
                            word-break:break-all;
                            top:-310rpx;
                            transform:translate(-50%, 0);
                          }
                      }
                      
                  }
              }
              .plate-btn-wrap {
                position: absolute;
                z-index: 3;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 118rpx;
                height: 144rpx;
                border-radius: 50%;
                .goImg{
                    width: 118rpx;
                    height: 144rpx;
                  }
              }
          }
    }

     /* 再来一次按钮 */
    .btn{
        position: absolute;
        top: 1250rpx;
        width: 100%;
        display: flex;
      .btnP{
        width:56%;
        line-height: 50rpx;
        border-radius:50rpx;
        text-align:center;
        padding:2% 0;
        margin-left:5%;
        margin-right: 5%;
        color:#fff;
        background-color:#dfae84;
        border: 2rpx solid #e88605;
      }
    }

    .notice_content{
        position: absolute;
        top: 1400rpx;
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        .ruleTitle{
            width: 90%;
            margin-top: 50rpx;
        }
        .text{
            width: 85%;
            color: white;
            margin-bottom: 60rpx;
            margin-top: 50rpx;
            .textP{
                line-height:24px;
                font-size: 24rpx;
                text-indent: -4%;
            }
        }  
    }

    .bg{
        position: absolute;
        position: fixed;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: .5;
        z-index: 5;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
    .bgWhite{
        position: fixed;
        width: 100%;
        height: 100%;
        background: #fff;
        opacity: 0;
        z-index: 5;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
    .tan{
        position:fixed;
        width:100%;
        height:900rpx;
        left:0;
        top:0;
        z-index:6;
        .tan_img{
            width:80%;
            margin-left:10%;
            margin-top: 35%;
        }
        .close{
            position: absolute;
            top: 260rpx;
            right: 125rpx;
            width: 100rpx;
            height: 100rpx;
        }
        .myGift{
            position: absolute;
            left: 50%;
            transform: translateX(-110%);
            top: 100%;  
            width: 260rpx;
            height: 100rpx;
        }   
        .btnShare{ 
            position: absolute;
            left: 50%;
            top: 100%;  
            width: 260rpx;
            height: 100rpx;
            background: none;
        }
        .btnShare::after{ 
            border: none;
        }
        .btnShare2{
            position: absolute;
            top: 100%;  
            left: 18%;
            width: 500rpx;
            height: 100rpx;
            background: none;
        }
        .btnShare::after{ 
            border: none;
        }
    }
    .errTan{
        position:fixed;
        width:100%;
        height:900rpx;
        left:0;
        top:0;
        z-index:6;
        .err_img{
            width:80%;
            margin-left:10%;
            margin-top: 60%;
          }
       .close{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 110%;
            width: 50rpx;
            height: 50rpx;
            border: solid 2rpx white;
            border-radius: 50%;
            text{
                position: absolute;
                left: 50%;
                top: 50%;
                margin-left: -15rpx;
                width: 30rpx;
                height: 2rpx;
                background: #fff;
                transform-origin: center;
              }
              text:nth-child(1){
                transform: rotate(45deg);
              }
              text:nth-child(2){
                transform: rotate(-45deg);
              }
        }
      }  
}