.contarin{
    width: 100%;
    image{
        width: 80%;
        margin-top: 10%;
        margin-left: 10%;
    }
    .saveBtn{
        width: 70%;
        line-height: 80rpx;
        margin-left: 15%;
        text-align: center;
        background: black;
        color: #fff;
        font-size: 32rpx;
        margin-top: 20rpx;
    }
}