.container{
    width: 100%;
    height: 100%;
    position: flex;
    .petBg{
        width: 100%;
        height: 100%;
    }
    .userInfo{
        width: 300rpx;
        height: 80rpx;
        z-index: 10;
        top: 12%;
        left: 30rpx;
        position: absolute;
        border-radius: 80rpx;
        background: rgba(255, 255, 255, 0.5);
        .userAvatar{
            width: 80rpx;
            height: 80rpx;
            border-radius: 80rpx;
            border: 5rpx solid #442816;
        }
        .loverIcon{
            width: 50rpx;
            margin-left: 20rpx;
        }
        .loverNum{
            font-size: 36rpx;
            color: #fff;
            -webkit-text-stroke: 1px #442816;
            font-weight: 900;
            margin-left: 20rpx;
        }
        
    }

    .petTask{
        position: absolute;
        z-index: 10;
        right: 0;
        top: 11%;
        display: flex;
        flex-direction: column;
        margin-right: 30rpx;
        .img{
            width: 80rpx;
            margin-top: 30rpx;
        }
    }

    .petOpt{
        width: 92%;
        position: absolute;
        z-index: 10;
        bottom: 50rpx;
        margin-left: 4%;
        .img{
            width: 100rpx;
            margin-right: 30rpx;
        }
        .feed{
            display: flex;
            flex-direction: column;
            align-items: center;
            .feedImg{
                width: 120rpx;
            }
            .feedNum{
                font-size: 32rpx;
                color: #fff;
                -webkit-text-stroke: 1px #442816;
                font-weight: 900;
                margin-top: -20rpx;
            }
            
        }
    }
    .petArea{
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 18%;
        left: 0;
        .littlePet{
            display: inline-block; 
            width: 100px; 
            height: 100px; 
        }
    }
   

    .friendHelp{
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        .helpContent{
            width: 100%;
            position: absolute;
            bottom: 0;
            height: 600rpx;
            border-top-left-radius: 10rpx;
            border-top-right-radius: 10rpx;
            background: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            .helpTitle{
                width: 160rpx;
                height: 160rpx;
                border-radius: 50%;
                margin-top: -80rpx;
            }
            .title{
                width: 92%;
                margin-top: -50rpx;
                .helps{
                    font-size: 24rpx;
                    color: #000;
                }
                .close{
                    width: 40rpx;
                    height: 40rpx;
                }
            }
            .showFriend{
                width: 90%;
                display: flex;
                margin-top: 80rpx;
                .friendItem{
                    width: 20%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .friendAvatar{
                        width: 100rpx;
                        height: 100rpx;
                    }
                    .friendNick{
                        font-size: 28rpx;
                        color: #909090;
                    }
                }
            }
            .notice{
                font-size: 24rpx;
                font-weight: 550;
            }
            .helpBtn{
                width: 80%;
                line-height: 80rpx;
                background: #F6614C;
                color: white;
                text-align: center;
                border-radius: 80rpx;
                font-size: 28rpx;
                margin-top: 40rpx;
            }
        }
    }


    .task{
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
        .taskContent{
            width: 100%;
            position: absolute;
            bottom: 0;
            height: 70%;
            border-top-left-radius: 10rpx;
            border-top-right-radius: 10rpx;
            background: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            .taskTitle{
                width: 160rpx;
                height: 160rpx;
                border-radius: 50%;
                margin-top: -80rpx;
            }
            .title{
                width: 92%;
                margin-top: -50rpx;
                .helps{
                    font-size: 24rpx;
                    color: #000;
                }
                .close{
                    width: 40rpx;
                    height: 40rpx;
                }
            }
            .showTask{
                width: 94%;
                margin-top: 30rpx;
                .taskItem{
                    width: 100%;
                    margin-top: 20rpx;
                    box-shadow:2px 0px 1px 0px #eeeeee;
                    .mark{
                        width: 12rpx;
                        height: 130rpx;
                        background: #F6614C;
                        border-top-left-radius: 12rpx;
                        border-bottom-left-radius: 12rpx;
                    }
                    .feedBag{
                        width: 100rpx;
                        height: 100rpx;
                        margin-left: 30rpx;
                    }
                    .taskShow{
                        width: 50%;
                        margin-left: 30rpx;
                        .taskCon{
                            font-size: 26rpx;
                            font-weight: 550;
                            color: #000;
                        }
                        .taskRate{
                            font-size: 26rpx;
                            color: #909090;
                        }
                    }
                    .taskBtn{
                        line-height: 60rpx;
                        width: 160rpx;
                        text-align: center;
                        background: #F6614C;
                        color: white;
                        font-size: 32rpx;
                        border-radius: 60rpx;
                    }
                }
               
            }
        }
    }

    .exchange{
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
        .exchangeContent{
            width: 100%;
            position: absolute;
            bottom: 0;
            height: 70%;
            border-top-left-radius: 10rpx;
            border-top-right-radius: 10rpx;
            background: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            .exchangeTitle{
                width: 160rpx;
                height: 160rpx;
                border-radius: 50%;
                margin-top: -80rpx;
            }
            .title{
                width: 92%;
                margin-top: -50rpx;
                .helps{
                    font-size: 24rpx;
                    color: #000;
                }
                .close{
                    width: 40rpx;
                    height: 40rpx;
                }
            }
            .navi{
                width: 50%;
                font-size: 26rpx;
                margin-top: 20rpx;
                line-height: 60rpx;
                font-weight: 550;
                .sel{
                    color: #FF4A4B;
                    border-bottom: #FF4A4B 2rpx solid;
                }

            }
            .showExchange{
                width: 94%;
                margin-top: 30rpx;
                max-height: 750rpx;
                overflow: scroll;
                .coupon{
                    width: 100%;
                }
            }
        }
    }
    
    
}