.list{
  image{
    display: block;
    width: 100%;
  }
  align-items: flex-start;
  &-item{
    flex: 0 1 32%;
    flex-direction: column;
    .list-img{
      flex: 1;
      width: 100%;
    }
    .btn-more{
      margin-top: 20rpx;
      width: 200rpx;
      height: 60rpx;
      line-height: 60rpx;
      font-size: 30rpx;
      background: #000;
      color: #fff;
      border-radius: 30rpx;
    }
    .price{
      margin-top: 20rpx;
      &-origin{
        font-size: 24rpx;
        color: #ccc;
        text-decoration: line-through;
      }
      &-pay{
        font-size: 28rpx;
        font-weight: bold;
      }
    }
  }
}