.container{
    width: 100%;
    height: 100%;
    background: #F5f5f5;
    margin-bottom: 200rpx;
    .statusInfo{
        width: 100%;
        height: 200rpx;
        display: flex;
        background: linear-gradient(to right,#FF9348, #F03D53);
        &-status{
            width: 30%;
            line-height: 160rpx;
            text-align: center;
            font-size: 36rpx;
            color: #fff;
            font-weight: 600;
        }
        &-price{
            width: 70%;
            line-height: 160rpx;
            text-align: center;
            font-size: 26rpx;
            color: #fff;
        }
    }

    .addressInfo{
        width: 94%;
        height: 200rpx;
        margin-left: 3%;
        background: #fff;
        position: absolute;
        top: 160rpx;
        border-radius: 30rpx;
        display: flex;
        align-items: center;
        &-icon{
            width: 50rpx;
            margin-left: 20rpx;
        }
        &-detail{
            margin-left: 10rpx;
            margin-right: 20rpx;
            .t1{
                font-size: 28rpx;
                color: #000;
            }
            .t2{
                margin-top: 10rpx;
                font-size: 26rpx;
                color: gray;
            }
        }
    }

    .goodsInfo{
        width: 94%;
        margin-left: 3%;
        background: #fff;
        border-radius: 30rpx;
        margin-top: 200rpx;
        &-detail{
            display: flex;
            .goodsImg{
                width: 200rpx;
                height: 200rpx;
                margin-left: 20rpx;
                margin-top: 20rpx;
                border-radius: 20rpx; 
            }
            .infos{
                margin-left: 16rpx;
                margin-top: 20rpx;
                .title{
                    font-size: 28rpx;
                    color: #000;
                }
                .orginalPrice{
                    font-size: 24rpx;
                    color: gray;
                    margin-top: 10rpx;
                }
                .price{
                    font-size: 26rpx;
                    color: red;
                    margin-top: 10rpx;
                }
            }
        }
        .darginPrice{
            width: 90%;
            line-height: 80rpx;
            display: flex;
            justify-content: flex-end;
            margin-right: 20rpx;
            font-size: 26rpx;
            font-weight: 550;
        }

    }

    .priceInfo{
        width: 94%;
        margin-left: 3%;
        background: #fff;
        border-radius: 30rpx;
        margin-top: 30rpx;
        &-row{
            width: 100%;
            height: 100rpx;
            font-size: 26rpx;
            .left{
                float: left;
                line-height: 100rpx;
                margin-left: 20rpx;
            }
            .right{
                float: right;
                line-height: 100rpx;
                margin-right: 20rpx;
            }
        }
    }

    .footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100rpx;
        background: #fff;
        .left{
            float: left;
            line-height: 100rpx;
            font-size: 26rpx;
            margin-left: 50rpx;
        }
        .right{
            float: right;
            line-height: 100rpx;
            text-align: center;
            width: 260rpx;
            background: linear-gradient(to right,#FF9348, #F03D53);
            color:white;
            font-size: 28rpx;
        }
    }

    .iphoneXFooter{ 
        height:148rpx; 
        background: #fff;
      }
}