page{
    background-color: #F3F4F5;
}
.swiper{
    width: 100%;
    height: 750rpx;
    .imageView{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 750rpx;

        position: relative;
    }
}
.zhekou{
    position: absolute;
    top: 20rpx;
    right: 0;

    width: 125rpx;
    height: 60rpx;
}
.zhekou-text{
    position: absolute;
    top: 20rpx;
    right: 0;
    width: 120rpx;
    line-height: 60rpx;

    font-size: 32rpx;
    color: white;
    text-align: center;
}
// 拼团信息
.ptBotomView{
    background-color: #CC292E;
    width: 100%;
    height: 90rpx;
    display: flex;
    flex-direction: row;
    .titles{
        color: white;   
        line-height: 90rpx; 
    }
    .botom-leftView{
        display: flex;
        flex-direction: row;
        flex: 1;
        align-items: center;
        .botom-lefView-s{
            margin-left: 30rpx;
        
            height: 70rpx;
            width: auto;
            
            overflow: hidden;
            .titles-up{
                color: #C0BCBC;  
                font-size: 26rpx;
                text-decoration: line-through;
                line-height: 35rpx;
            }
            .titles-down{
                color: white;  
                font-size: 26rpx;
                line-height: 35rpx;
            
            }
        }
    }
    .botom-rightView{
        display: flex;
        background-color: white;
        border-radius: 5rpx;
        width: 120rpx;
        height: 60rpx;
        margin: 15rpx;
    
        line-height: 60rpx;
        justify-content: center;
        font-size: 30rpx;
        color: #CC292E;
    }
}
// 商品名称、编号、收藏 
.descView{
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: row;
    .leftView{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 20rpx;
        padding-top: 20rpx;
        padding-bottom: 20rpx;
        &-uptitle{
            font-size: 28rpx;
            color: #373738;
        }
        &-botomtitle{
            color: #A7A8A9;
            font-size: 26rpx;
        }
    }
    .rightView{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 20rpx;
        &-imageView{
            margin-right: 10rpx;
            width: 35rpx;
        }
        &-text{
            font-size: 25rpx;
            color: #CC292E;
        }
    }
}
// 参团模块
.cantuanView{
    background-color: white;
    margin: 20rpx;
    overflow: hidden;
    border-radius: 8rpx;

    .topTitleView{
        font-size: 25rpx;
        color: #656566;
        margin-left: 20rpx;
        margin-top: 20rpx;
    }
    .botomView{
        position: relative;
        margin-top: 20rpx;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 80rpx;

        &-leftView{
            flex: 1;
            width: auto;
            height: 80rpx;

            display: flex;
            flex-direction: row;

            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            .icon-z{
                width: auto;
                height: auto;
                position: relative;
                &-title{
                    position: absolute;
                    top: -2rpx;
                    left: 0;
                    width: 55rpx;
                    background-color: #CC292E;
                    border-radius: 13rpx;
        
                    font-size: 18rpx;
                    line-height: 25rpx;
                    color: white;
                    text-align: center;
        
                }
            }
            .icon{
                height: 80rpx;
                width: 80rpx;
                border-radius: 43rpx;
                border: solid 2rpx #CC292E;
                
            }
        }
    }
    .entTitleView{
        text-align: center;
        font-size: 30rpx;
        margin-top: 20rpx;
    }
    .lineView{
        background-color: #FBFCFD;
        width: 100%;
        height: 1rpx;
        margin-top: 20rpx;
        margin-bottom: 20rpx;
    }
    .pintuanguizView{
        display: flex;
        flex-direction: row;
        padding-left: 20rpx;
        padding-right: 20rpx;
        height: 80rpx;
        .leftView{
            flex: 1;
            font-size: 25rpx;
            color: #656566
        }
        .guize{
            margin-left: 10rpx;
            padding: 5rpx;
            padding-left: 10rpx;
            padding-right: 10rpx;
            border: dashed 2rpx #D50000;
            font-size: 23rpx; 
            color: #D50000;
            text-align: center;
            line-height: 30rpx;
            height: 30rpx;
            border-radius: 21rpx;
        }
    }
}
// 去拼单模块
.goPintuanView{
    background-color: white;
    margin: 20rpx;
    overflow: hidden;
    border-radius: 8rpx;
    padding-bottom: 20rpx;

    .topTitleView{
        font-size: 25rpx;
        color: #656566;
        margin-left: 20rpx;
        margin-top: 20rpx;
        margin-bottom: 20rpx;
    }
    .iconViews{
        width: 95%;
        height: 120rpx;
        margin-left: 2.5%;
        border-bottom: 2rpx solid #F3F4F5;
        color: #656566;
        line-height: 120rpx;
        display: flex;
        .subView{
            width: 50%;
            height: 100%;
            display: flex;
            
            .icon{
                margin-top: 20rpx;
                width: 80rpx;
                height: 80rpx;
                border-radius: 50%;
                overflow: hidden;
            }
            .phone{
                margin-left: 20rpx;
                flex: 1;
                font-size: 28rpx;
            }
            &-views{
                width: 52%;
                height: 100%;
                flex-direction: column;
                text-align: right;

                position: relative;
                .topTitle{
                    margin-top: 29rpx;

                    font-size: 28rpx;
                    line-height: 28rpx;
                }
                .subTitle{
                    margin-top: 10rpx;
                    font-size: 24rpx;
                    line-height: 24rpx;
                }
                .goPT{
                    width: 140rpx;
                    height: 50rpx;

                    background-color: #CB0000;
                    border-radius: 50rpx;

                    text-align: center;
                    color: white;
                    font-size: 28rpx;
                    font-weight: bold;
                    line-height: 48rpx;

                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                }
            }
        }
    }
}
// 颜色、尺码
.chimaView{
    width: 100%;
    height: 70rpx;
    line-height: 70rpx;
    background-color: white;
    margin: 20rpx 0;
    &-s{
        padding-left: 20rpx;
        padding-right: 20rpx;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &-leftView{
        font-size: 28rpx;
        color: #373738;
        flex: 1;
    }
    &-rightView{
        margin-right: 10rpx;
        width: 30rpx;
        height: auto;
    }
}
// // 猜你喜欢
.cainixihuan{
    width: 100%;
    height: auto;
    background-color: white;
    padding-top: 20rpx;
    .caini-toptitle{
        font-size: 25rpx;
        color: #373738;
        margin-left: 20rpx;
    }
}
// // html
.html{
    padding-bottom: 80rpx;
}
.wxParse-div image{
    display: block;
    margin:  0 auto;
    width: 94%;
}
// // 底部购买按钮
.buyView{ 
    height:80rpx; 
    clear:both; 
    overflow:hidden; 
    position:fixed; 
    bottom:0; 
    left:0; 
    right: 0;
    background-color: #CC292E;
    line-height: 80rpx;
    text-align: center;

    display: flex;
    flex-direction: row;
    &-viewText{
        color: white;
        font-size: 30rpx;
        width: 50%;
        height: 80rpx;
    }
    &-cantuanViewText{
        background-color: red;
        color: white;
        font-size: 30rpx;
        width: 100%;
        height: 80rpx;
    }
}
// 活动结束弹框透明背景
.bouncesBg{
    background-color: black;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
// 活动结束弹框
.bouncesView{
    position: fixed;
    top: 25%;
    left: 50rpx;
    right: 50rpx;
    height: auto;
    background-color: white;
    border-radius: 8rpx;
    overflow: hidden;
    z-index: 999;
    
  
    &-view{
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        .redTitle{
            margin-top: 20rpx;
            font-size: 30rpx;
            color: red;
        }
        .submitTitle{
            margin-top: 30rpx;
            font-size: 24rpx;
            color: #818284;
        }
        .whiteTitle{
            margin-top: 100rpx;
            font-size: 28rpx;
            color: white;
            background-color: #CC292E;
            width: 100%;
            height: 90rpx;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
/* 回到首页 */
.fixed-right{
    position: fixed;
    top: 450rpx;
    right: 20rpx;
    z-index: 999;
     .fixed-item{
        position:relative;
        margin-bottom:20rpx;
        width:76rpx;
        height:76rpx;
        background-color:#fff;
        border-radius:50%;
        box-shadow:2rpx 2rpx 5rpx #ccc;
        overflow:hidden;
     }
     .fixed-center{
         display:flex;
         justify-content:center;
         align-items:center;
     }
     .fixed-img{
        width:50%;
     }
     .share{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
     }
}