
.bouncedBg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
}
.bounced{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 725rpx;
    height: 791rpx;
    .subView{
        width: 100%;
        height: 100%;
        position: relative;
        .yhq{
            position: absolute;
            top: 38%;
            left: 50%;
            transform: translateX(-50%);
            width: 627rpx;
        }
        .tap{
            position: absolute;
            bottom: 40rpx;
            left: 50%;
            transform: translateX(-50%);
            width: 330rpx;
            height: 120rpx;
            z-index: 2;
        }
    }
}
@keyframes bouncedBgAnimation { 
    0%{
        opacity: 0;
    }
    100%{
        opacity: .5;
    }
}
@keyframes bouncedBgAnimation1 { 
    0%{
        opacity: .5;
    }
    100%{
        opacity: 0;
    }
}
@keyframes bouncedAnimation { 
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes bouncedAnimation1 { 
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}