.all{
  .search{
    padding-left: 20rpx;
    height: 70rpx;
    background: #fff;
    box-sizing: border-box;
    &-input{
      margin-left: 10rpx;
      font-size: 26rpx;
    }
  }
  .screen{
    margin: 15rpx 0;
    font-size: 24rpx;
    .select{
      position: relative;
      padding: 0 30rpx;
      width: 450rpx;
      height: 55rpx;
      line-height: 55rpx;
      color: #666666;
      background: #fff;
      border-radius: 30rpx;
      box-sizing: border-box;
    }
    &-btn{
      width: 220rpx;
      height: 55rpx;
      line-height: 55rpx;
      color: #333333;
      background: #fff;
      border-radius: 30rpx;
    }
  }
  .member{
    &-item{
      padding: 0 30rpx;
      margin-bottom: 4rpx;
      height: 130rpx;
      background: #fff;
      border-radius: 10rpx;
      .avatar{
        width: 72rpx;
        height: 72rpx;
        border-radius: 6rpx;
        border: solid 1rpx red;
      }
      .name{
        padding-left: 20rpx;
        margin-right: 30rpx;
        font-size: 30rpx;
        color: #333;
      }
    }
    .total{
      padding: 30rpx 0;
      font-size: 26rpx;
      color: #999;
    }
  }
}